@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variáveis */
:root{
    /* cores */
    --light-cyan: rgba(113, 177, 178, 0.32);
    --primary-cyan: hsla(181, 51%, 40%, 1);
    --dark-cyan: hsla(181, 51%, 38%, 1);
    --white-secondary: hsla(195, 40%, 95%, 1);
    --white-primary: hsla(0, 0%, 100%, 1);
    --white-reddish: hsla(20, 100%, 97%, 1);
    --navy: hsla(210, 80%, 7%, 1);
    --gray: hsla(195, 40%, 91%, 1);
    --dark-gray: hsla(0, 0%, 66%, 1);
    --darker-cyan: hsla(181, 45%, 33%, 1);
    --aqua-translucid: hsla(181, 51%, 40%, 0.448);
    --black-shadow: hsla(0, 0%, 0%, 0.063);
    --white-shadow: hsla(0, 0%, 100%, 0.31);
    --shadow: hsla(0, 0%, 0%, 0.05);
    --super-light-gray: hsla(0, 0%, 96%, 1);
    --light-gray: hsla(0, 0%, 72%, 1);

    /* tipografia */
    --font-dm-sans: 'DM Sans', sans-serif;

    /* layout */
    --menu-width: clamp(168px, calc(9vw + 9vh), 400px);
    --menu-vertical-margin: clamp(50px, 10vh, 70px);
    --menu-height: calc(100vh - var(--menu-vertical-margin));
    --menu-title-size: clamp(20px, calc(1.12vw + 1.12vh), 30px);
}

/* estilizações globais */
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    text-decoration: none;

}

body{
    background-color: var(--white-secondary);
    overflow-x: hidden;
}

/* estilizações do menu lateral */
aside{
    margin-top: var(--menu-vertical-margin);
    position: fixed;
    height: var(--menu-height);
    width: var(--menu-width);
    background-color: var(--primary-cyan);
    border-radius: 0 clamp(50px, calc(3vw + 3vh), 60px) 0 0;
    padding-top: clamp(60px, 10vh, 90px);
    padding-left: clamp(15px, calc(0.8vw + 0.8vh), 20px);
}

[alt="logo-simbia"]{
    position: fixed;
    top:  clamp(8px, 2vh, 15px);
    z-index: 2;
    width: clamp(90px , calc(4.8vw + 4.8vh), 1000px);
}

aside h1{
    color: var(--white-reddish);
    font-weight: 500;
    letter-spacing: calc(calc(1.2vw + 1.2vh) * 0.02);
    font-size: var(--menu-title-size);
}

aside hr{
    border: 2px solid var(--dark-cyan);
    width: calc(var(--menu-width) * 0.85);
    border-radius: 40px;
    margin-bottom: clamp(20px, 4vh, 30px);
    margin-top: 20px;
}
aside li, aside a{
    display: flex;
    gap: calc(0.5vw + 0.5vh);
    color: var(--white-reddish);
    text-decoration: none;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: calc(var(--menu-height) * 0.01);
}

aside li{
    width: calc(var(--menu-width) * 0.85);
    height: clamp(20px, calc(var(--menu-height) * 0.04), 30px);
    padding: calc(calc(var(--menu-height) * 0.04) * 0.3) 0;
    padding-left: calc( calc(var(--menu-width) * 0.85) * 0.04);
    margin-bottom: 1px;
    align-items: center;
    border-radius: 10px;
}

aside li p{
    font-size: clamp(13px, calc(var(--menu-title-size) * 0.55), 100px);
}

aside i{
    font-size: clamp(13px, calc(var(--menu-title-size) * 0.55), 100px);
}

aside li:hover{
    background-color: var(--light-cyan);
    cursor: pointer;
}

.ativo{
    background-color: var(--light-cyan);
}
/* estilizações do container principal */
main{
    margin-left: calc(var(--menu-width) + 20px);
    width: calc(100% - var(--menu-width) - 20px - 4vw);
    padding: 0 2vw;
}

/* estilizações do topo */
header{
    color: var(--navy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--menu-vertical-margin);
}

header img{
    width: clamp(20px, calc(1vw + 1vh), 30px);
    margin: 0 calc(0.4vw + 0.4vh);
}

header button{
    display: flex;
    align-items: center;
    width: clamp(150px, calc(8.2vw + 8.2vh), 300px);
    height: clamp(35px, calc(2vw + 2vh), 50px);
    background-color: var(--primary-cyan);
    color: var(--white-reddish);
    border: none;
    border-radius: 10px;
    font-size: clamp(13px, calc(var(--menu-title-size) * 0.55), 100px);
    box-shadow: 0 0 70px 0 var(--aqua-translucid);
    transition: 0.2s;
}

header button:hover{
    cursor: pointer;
    background-color: var(--dark-cyan);
    transform: scale(1.1);

}

header h1{
    font-size: clamp(30px, calc(2vw + 2vh), 35px);
}

header div{
    display: flex;
    align-items: center;
    gap: 1vw;
}

[name="atualizar"]{
    width: clamp(150px, calc(7vw + 7vh), 250px);
}


@media(max-width: 800px){
    header{
        display: block;
        justify-content: left;
    ;
    }
    header button{
        margin: 5px;
    }
}

main hr{
    margin: clamp(15px, 2vh, 25px) 0;
    border: 2px solid var(--gray);
}

/* estilizações tabela */

.form-pesquisa{
    margin: clamp(15px, 2vh, 25px) 0;
    background-color: white;
    width: clamp(300px, calc(20vw + 20vh), 500px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.form-pesquisa input{
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 7px;
    width: 30vw;
}

.form-pesquisa button{
    margin-right: 7px;
    border: none;
    background-color: white;
}

.form-pesquisa i{
    color: var(--navy);
}

.form-pesquisa i:hover{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing:  0 9px;
    overflow-x: auto;
}

th{
    text-align: left;
    color: grey;
    font-weight: 500;
    font-size: clamp(12px, calc(0.6vw + 0.6vh), 18px);
    padding: 2vh 0;
    padding-left: clamp(25px, 1.7vw, 20px);
}

[class="fa-solid fa-angle-down"]:hover{
    cursor: pointer;
}

.id{
    width: clamp(40px, 3vw, 50px);
}

.acoes{
    width: clamp(80px, 10vw, 120px);
    text-align: left;
    padding: 0;
}

.acoes div{
    display: flex;
    gap: clamp(15px, 3vw, 60px);
}

.acoes button{
    border: none;
    background-color: transparent;
}

th div{
    display: flex;
    gap: calc(0.25vw + 0.25vh);
    align-items: center;
}
th form button{
    border: none;
    background-color: transparent
}

th form button i{
    color: grey;
    font-size: clamp(10px, 1vw, 20px);
}

th form button i:hover{
    color: rgba(128, 128, 128, 0.653);
    cursor: pointer;
}

[name="editar"] img{
    width: clamp(18px, 1.3vw, 22px);
    padding-left: clamp(20px, 1.4vw, 20px);
    transition: 0.2s;
}

[name="editar"] img:hover{
    transform: scale(1.1);
}

[name="apagar"] img{
    width: clamp(15px, 1.05vw, 18px);
    padding-right: clamp(25px, 1.7vw, 20px);
    transition: 0.2s;
}

[name="apagar"] img:hover{
    transform: scale(1.1);
}

[name="apagar"] img:hover, [name="editar"] img:hover{
    cursor: pointer;
}

tbody tr{
    background-color: white;
    box-shadow: 0 0 10px 0 var(--shadow);
    border-radius: 7px;
    overflow-x: auto;
}

tbody tr td{
    padding: 3vh 0;
    padding-left: clamp(25px, 1.7vw, 20px);
    width: clamp(50px, calc(20vw + 20vh), 20vw);
    font-weight: 600;
    font-size: clamp(14px, calc(1vw + 01vh), 17px);
}

table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

/** estilização popups **/
#container-geral-popup *{
    box-sizing: border-box;
}

#container-geral-popup{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.408);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;

    top: 0;
    right: 0;

    color: var(--navy);
    font-family: var(--font-dm-sans);
}

#container-geral-popup #content-popup-geral{
    background-color: white;

    border-radius: 40px;

    width: 50vw;
    min-height: 70vh;

    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    box-shadow: 0 0 0 var(--shadow);

    padding: 50px;
    max-width: 800px;

    flex-wrap: wrap;
}
#content-popup-geral{
    display: flex;
}

#container-geral-popup button{
    cursor: pointer;
}

#container-geral-popup #vertical-line{
    border-left: 2.5px dashed var(--white-secondary);

    height: 400px;

    margin-right: 50px;
    margin-left: 30px;
}

#container-geral-popup #close {
    position: absolute;

    background: none;

    border: none;

    top: 20px;
    right: 10px;

    width: 60px;
    height: 60px;

    transition: 0.2s;
}

#container-geral-popup #close:hover{
    transform: scale(1.5);
}

#container-geral-popup h2{
    margin-top: 30px;
    margin-bottom: 20px;

    letter-spacing: 2px;
    font-size: 32px;

    color: var(--navy);
}

#container-geral-popup .display-input-input{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#container-geral-popup label{
    font-weight: 500;

    display: block;

    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#container-geral-popup input, textarea{
    border: none;
    border-radius: 10px;

    padding: 15px;
    width: 100%;
    margin-right: 30px;

    background-color: var(--super-light-gray);
}

#container-geral-popup input::placeholder{
    color: var(--light-gray);
    font-weight: 500;
}

#container-geral-popup input:focus, textarea:focus{
    outline: 3px solid var(--primary-cyan);
}

#container-geral-popup textarea{
    max-height: 200px;
    min-height: 100px;

    resize: vertical;
}

#container-geral-popup #btnAdd{
    border: none;
    border-radius: 10px;

    width: 100%;
    max-width: 300px;
    padding: 16px;

    font-family: var(--font-dm-sans);
    font-size: 16px;
    color: white;

    box-shadow: 0 0 70px var(--aqua-translucid);
    background-color: var(--primary-cyan);

    margin-left: 90px;
    margin-top: 50px;

    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

#container-geral-popup #btnAdd:hover{
    background-color: hsl(181, 51%, 35%);

    transform: scale(1.02);
}

#container-geral-popup p{
    color: #B9B8BF;

    font-size: small;

    margin-top: -15px;
    margin-left: 0;
}

#container-geral-popup .checkbox-group {
    display: flex;
    gap: 25px;
    align-items: center;

    margin-top: 8px;
}

#container-geral-popup .checkbox-group input[type="radio"] {
    appearance: none;

    /* tira a estilização padrão do radio */
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 5px;
    height: 5px;

    border: 2px solid var(--white-secondary);
    border-radius: 6px;

    background-color: white;

    cursor: pointer;

    transition: all 0.2s ease;
}

#container-geral-popup .pErro{
    color: red;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    flex-wrap: wrap;
    max-width: 200px;
}

#container-geral-popup .checkbox-group input[type="radio"]:checked {
    background-color: var(--primary-cyan);

}

#container-geral-popup .checkbox-group input[type="radio"]:hover {
    transform: scale(1.1);
}

#container-geral-popup .checkbox-group label {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;

    margin: 0;
}


@media (max-width: 1500px) {
    #container-geral-popup #content-popup-geral{
        width: 70vw;
        min-height: 70vh;
        padding: 60px;

        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #container-geral-popup #vertical-line{
        display: none;
    }

    #container-geral-popup #btnAdd {
        display: block;

        margin: 40px auto 0 auto;
        width: 400px;
        padding: 15px 24px;
    }
}

@media (max-width: 1024px) {
    #container-geral-popup #content-popup-geral {
        width: 80vw;
        min-height: 60vh;

        padding: 50px;
        align-items: center;
    }

    #container-geral-popup #btnAdd {
        display: block;
        margin: 40px auto 0 auto;

        width: 100%;
        padding: 14px 0;
    }
}

@media (max-width: 768px) {
    #container-geral-popup #content-popup-geral {
        width: 90vw;
        min-height: 70vh;
        padding: 20px;

        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #container-geral-popup h2 {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;

        margin-bottom: 20px;
    }

    #container-geral-popup #vertical-line {
        display: none;
    }

    #container-geral-popup .display-input-input {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    #container-geral-popup input, textarea{
        width: 90%;
    }

    #container-geral-popup #btnAdd {
        width: 100%;
        padding: 14px;

        font-size: 14px;

        margin: 30px 0 40px 0;

    }
}
@media (max-width: 768px) {
    #container-geral-popup #content-popup-geral {
        width: 80vw;
        min-height: 10vh;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #container-geral-popup h2 {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
    }

    #container-geral-popup #vertical-line {
        display: none;
    }

    #container-geral-popup .display-input-input {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    #container-geral-popup input, textarea{
        width: 90%;
    }

    #container-geral-popup #btnAdd {
        width: 100%;
        padding: 14px;
        font-size: 14px;
        margin: 30px 0 40px 0;
    }

    #container-geral-popup .pErro {
        margin-bottom: -10px;
    }

}
/* estilização popups de confirmação */
#container-geral-popup-confirmacao{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.408);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;

    top: 0;
    right: 0;

    color: var(--navy);
    font-family: var(--font-dm-sans);
}

#container-geral-popup-confirmacao #content-popup-confirmacao{
    background-color: white;

    border-radius: 40px;

    width: 30vw;
    min-height: 40vh;

    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0px 0px 0px var(--shadow);

    padding: 50px;
    max-width: 750px;

    flex-wrap: wrap;
}

#container-geral-popup-confirmacao p{
    color: rgb(144, 144, 144);
    font-size: medium;
    margin-top: 20px;
}

#container-geral-popup-confirmacao h2{
    margin-top: 10px;
    font-size: 27px;
}

#container-geral-popup-confirmacao button{
    cursor: pointer;

    border: none;
    border-radius: 10px;

    width: 190px;
    padding: 16px;

    font-family: var(--font-dm-sans);
    font-size: 16px;

    color: white;

    box-shadow: 0px 0px 70px var(--aqua-translucid);
    background-color: var(--primary-cyan);

    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;

    margin-top: 30px;
}


#container-geral-popup-confirmacao #btnCancel{
    background-color: var(--light-gray);
    box-shadow: none
}

#container-geral-popup-confirmacao #btnDel{
    background-color: red;
    box-shadow: 0px 0px 70px rgba(255, 0, 0, 0.189);
}

#container-geral-popup-confirmacao #btnAlt:hover{
    background-color: var(--dark-cyan);
    transform: scale(1.03);
}

#container-geral-popup-confirmacao #btnCancel:hover{
    background-color: hsla(0, 0%, 66%, 1);
    transform: scale(1.03);
}

#container-geral-popup-confirmacao #btnDel:hover{
    background-color: rgb(218, 2, 2);
    transform: scale(1.03);
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1200px) {
    #content-popup-confirmacao {
        width: 80vw;
        padding: 40px;
    }

    #container-geral-popup-confirmacao #content-popup-confirmacao {
        width: 300px;
        height: 390px;
        padding: 50px;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #content-popup-confirmacao button {
        width: 300px;
    }

    #content-popup-confirmacao #btnCancel {
        margin-bottom: -20px;
    }
}

@media (max-width: 900px) {
    #container-geral-popup-confirmacao #content-popup-confirmacao {
        width: 300px;
        height: 390px;
        padding: 50px;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #content-popup-confirmacao button {
        width: 300px;
    }

    #content-popup-confirmacao #btnCancel {
        margin-bottom: -20px;
    }
}

@media (max-width: 600px) {
    #container-geral-popup-confirmacao #content-popup-confirmacao {
        width: 250px;
        height: 390px;

    }

    .btn-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #content-popup-confirmacao button {
        width: 250px;

    }

    #content-popup-confirmacao #btnCancel {
        margin-bottom: -20px;
    }
}