@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variáveis */
:root{
    /* cores */
    --primary-cyan: hsla(181, 51%, 40%, 1);
    --dark-cyan: hsla(181, 51%, 38%, 1);
    --white-secondary: hsla(195, 40%, 95%, 1);
    --white-primary: hsla(0, 0%, 100%, 1);
    --white-reddish: hsla(20, 100%, 97%, 1);
    --navy: hsla(210, 80%, 7%, 1);
    --gray: hsla(195, 40%, 91%, 1);
    --dark-gray: hsla(0, 0%, 66%, 1);
    --darker-cyan: hsla(181, 45%, 33%, 1);
    --aqua-translucid: hsla(181, 51%, 40%, 0.448);
    --black-shadow: hsla(0, 0%, 0%, 0.063);
    --white-shadow: hsla(0, 0%, 100%, 0.31);
    --shadow: hsla(0, 0%, 0%, 0.05);
    --super-light-gray: hsla(0, 0%, 96%, 1);
    --light-gray: hsla(0, 0%, 72%, 1);

    /* tipografia */
    --font-dm-sans: 'DM Sans', sans-serif;

    /* layout */
    --menu-width: clamp(168px, calc(9vw + 9vh), 400px);
    --menu-height: calc(100vh - var(--menu-vertical-margin));
    --menu-vertical-margin: clamp(50px, 10vh, 70px);
    --menu-title-size: clamp(20px, calc(1.12vw + 1.12vh), 30px);
}

/* Estilos globais */
*{
    margin: 0;
    padding: 0;

    font-family: var(--font-dm-sans);

    list-style: none;
    text-decoration: none;
}

#container-geral-popup *{
    box-sizing: border-box;
}

body{
    background-color: var(--white-secondary);

    overflow-x: hidden;
}

/* sidebar menu */
aside{
    margin-top: var(--menu-vertical-margin);

    position: fixed;
    height: var(--menu-height);
    width: var(--menu-width);
    background-color: var(--primary-cyan);
    border-radius: 0 clamp(50px, calc(3vw + 3vh), 60px) 0 0;
    padding-top: clamp(60px, 10vh, 90px);
    padding-left: clamp(15px, calc(0.8vw + 0.8vh), 20px);
}

[alt="logo-simbia"]{
    position: fixed;
    top: clamp(8px, 2vh, 15px);
    z-index: 2;
    width: clamp(90px , calc(4.8vw + 4.8vh), 1000px);
}

aside h1{
    color: var(--white-reddish);
    font-weight: 500;
    letter-spacing: calc(calc(1.2vw + 1.2vh) * 0.02);
    font-size: var(--menu-title-size);
}

aside hr{
    border: 2px solid var(--dark-cyan);
    width: calc(var(--menu-width) * 0.85);
    border-radius: 40px;
    margin-bottom: clamp(20px, 4vh, 30px);
}

aside li, aside a{
    display: flex;
    gap: calc(0.5vw + 0.5vh);
    color: var(--white-reddish);
    text-decoration: none;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: calc(var(--menu-height) * 0.01);
}

aside li{
    width: calc(var(--menu-width) * 0.85);
    height: clamp(20px, calc(var(--menu-height) * 0.04), 30px);
    padding: calc(calc(var(--menu-height) * 0.04) * 0.3) 0;
    padding-left: calc( calc(var(--menu-width) * 0.85) * 0.04);
    margin-bottom: 1px;
    align-items: center;
    border-radius: 10px;
}

aside li p, aside i{
    font-size: clamp(13px, calc(var(--menu-title-size) * 0.55), 100px);
}

aside li:hover, .ativo{
    background-color: hsla(181, 38%, 48%, 1);
    cursor: pointer;
}

/*  main container */
main{
    margin-left: calc(var(--menu-width) + 20px);
    width: calc(100% - var(--menu-width) - 20px - 4vw);
    padding: 0 2vw;
}

/* header */
header{
    color: var(--navy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--menu-vertical-margin);
}

header img{
    width: clamp(20px, calc(1vw + 1vh), 30px);
    margin: 0 calc(0.4vw + 0.4vh);
}

header button{
    display: flex;
    align-items: center;
    width: clamp(150px, calc(8.2vw + 8.2vh), 300px);
    height: clamp(35px, calc(2vw + 2vh), 50px);
    background-color: var(--primary-cyan);
    color: var(--white-reddish);
    border: none;
    border-radius: 10px;
    font-size: clamp(13px, calc(var(--menu-title-size) * 0.55), 100px);
    box-shadow: 0 0 7px 0 var(--dark-cyan);
}

header button:hover{
    cursor: pointer;
    background-color: var(--dark-cyan);
}

header h1{
    font-size: clamp(30px, calc(2vw + 2vh), 35px);
}

header div{
    display: flex;
    align-items: center;
    gap: 1vw;
}

[name="atualizar"]{
    width: clamp(150px, calc(7vw + 7vh), 250px);
}

/* tables & forms */
main hr{
    margin: clamp(15px, 2vh, 25px) 0;
    border: 2px solid var(--gray);
}

.form-pesquisa{
    margin: clamp(15px, 2vh, 25px) 0;
    background-color: var(--white-primary);
    width: clamp(300px, calc(20vw + 20vh), 500px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.form-pesquisa input{
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 7px;
    width: 30vw;
}

.form-pesquisa button{
    margin-right: 7px;
    border: none;
    background-color: var(--white-primary);
}

.form-pesquisa i{
    color: var(--navy);
}

.form-pesquisa i:hover{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing:  0 9px;
    overflow-x: auto;
}

th{
    text-align: left;
    color: grey;
    font-weight: 500;
    font-size: clamp(12px, calc(0.6vw + 0.6vh), 18px);
    padding: 2vh 0;
    padding-left: clamp(25px, 1.7vw, 20px);
}

/* table rows */
tbody tr{
    background-color: var(--white-primary);
    box-shadow: 0 0 5px 0 hsla(0,0%,0%,0.101);
    border-radius: 7px;
    overflow-x: auto;
}

/* popups */
#container-geral-popup{
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%,0.408);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    color: var(--navy);
    font-family: var(--font-dm-sans);
}

#container-geral-popup #content-popup-geral{
    background-color: var(--white-primary);
    border-radius: 40px;
    width: 50vw;
    min-height: 70vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 0px var(--shadow);
    padding: 50px;
    max-width: 750px;
    flex-wrap: wrap;
}

/* buttons */
#container-geral-popup #btnAdd{
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 16px;
    font-family: var(--font-dm-sans);
    font-size: 16px;
    color: white;
    box-shadow: 0px 0px 70px var(--aqua-translucid);
    background-color: var(--primary-cyan);
    margin-left: 90px;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#container-geral-popup #btnAdd:hover{
    background-color: hsla(181,51%,35%,1);
    transform: scale(1.02);
}

/* media queries */
@media (max-width: 1500px) {
    #container-geral-popup #content-popup-geral{
        width: 70vw;
        min-height: 70vh;
        padding: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #container-geral-popup #vertical-line{
        display: none;
    }

    #container-geral-popup #btnAdd {
        display: block;
        margin: 40px auto 0 auto;
        width: 400px;
        padding: 15px 24px;
    }
}

@media (max-width: 768px) {
    #container-geral-popup #content-popup-geral {
        width: 90vw;
        min-height: 70vh;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #container-geral-popup h2 {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
    }

    #container-geral-popup #vertical-line {
        display: none;
    }

    #container-geral-popup .display-input-input {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    #container-geral-popup input, textarea{
        width: 90%;
    }

    #container-geral-popup #btnAdd {
        width: 100%;
        padding: 14px;
        font-size: 14px;
        margin: 30px 0 40px 0;
    }
}


