@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variáveis */
:root{
    --ciano: #298384;
    --ciano-escuro: #267A7B;
    --branco-secundario: #EBF2F4;
    --branco-primario: #FFFFFF;
    --branco-avermelhado: #FFF3EB;
    --marinho: #11222A;
    --cinza: #D8E8EC;
    --largura-menu: clamp(168px, calc(9vw + 9vh), 400px);
    --altura-menu: calc(100vh - var(--margem-vertical-menu));
    --margem-vertical-menu: clamp(50px, 10vh, 70px);
    --tamanho-titulo-menu: clamp(20px, calc(1.12vw + 1.12vh), 30px);
    --verde-principal: #298384;
    --verde-secundario: #0d4142;
    --cor-texto: #EBF2F4;
    --cor-fundo: #EBF2F4;
    --cor-cabecalho-tabelas: #EBF2F4;
    --black-shadow: #00000010;
    --white-shadow: #FFFFFF50;
}

/* estilizações globais */
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--branco-secundario);
    overflow-x: hidden;
}

/* estilizações do menu lateral */
aside{
    margin-top: var(--margem-vertical-menu);
    position: fixed;
    height: var(--altura-menu);
    width: var(--largura-menu);
    background-color: var(--ciano);
    border-radius: 0 clamp(50px, calc(3vw + 3vh), 60px) 0 0;
    padding-top: clamp(60px, 10vh, 90px);
    padding-left: clamp(15px, calc(0.8vw + 0.8vh), 20px);
}

[alt="logo-simbia"]{
    position: fixed;
    top:  clamp(8px, 2vh, 15px);
    z-index: 2;
    width: clamp(90px , calc(4.8vw + 4.8vh), 1000px);
}

aside h1{
    color: var(--branco-avermelhado);
    font-weight: 500;
    letter-spacing: calc(calc(1.2vw + 1.2vh) * 0.02);
    font-size: var(--tamanho-titulo-menu);
}

aside hr{
    border: 2px solid var(--ciano-escuro);
    width: calc(var(--largura-menu) * 0.85);
    border-radius: 40px;
    margin-bottom: clamp(20px, 4vh, 30px);
}
aside li, aside a{
    display: flex;
    gap: calc(0.5vw + 0.5vh);
    color: var(--branco-avermelhado);
    text-decoration: none;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: calc(var(--altura-menu) * 0.01);
}

aside li{
    width: calc(var(--largura-menu) * 0.85);
    height: clamp(20px, calc(var(--altura-menu) * 0.04), 30px);
    padding: calc(calc(var(--altura-menu) * 0.04) * 0.3) 0;
    padding-left: calc( calc(var(--largura-menu) * 0.85) * 0.04);
    margin-bottom: 1px;
    align-items: center;
    border-radius: 10px;
}

aside li p{
    font-size: clamp(13px, calc(var(--tamanho-titulo-menu) * 0.55), 100px);
}

aside i{
    font-size: clamp(13px, calc(var(--tamanho-titulo-menu) * 0.55), 100px);
}

aside li:hover{
    background-color: #4B9394;
    cursor: pointer;
}

.ativo{
    background-color: #4B9394;
}
/* estilizações do container principal */
main{
    margin-left: calc(var(--largura-menu) + 20px);
    width: calc(100% - var(--largura-menu) - 20px - 4vw);
    padding: 0 2vw;
}

/* estilizações do topo */
header{
    color: var(--marinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--margem-vertical-menu);
}

header img{
    width: clamp(20px, calc(1vw + 1vh), 30px);
    margin: 0 calc(0.4vw + 0.4vh);
}

header button{
    display: flex;
    align-items: center;
    width: clamp(150px, calc(8.2vw + 8.2vh), 300px);
    height: clamp(35px, calc(2vw + 2vh), 50px);
    background-color: var(--ciano);
    color: var(--branco-avermelhado);
    border: none;
    border-radius: 10px;
    font-size: clamp(13px, calc(var(--tamanho-titulo-menu) * 0.55), 100px);
    box-shadow: 0 0 7px 0 #267A7B;
}

header button:hover{
    cursor: pointer;
    background-color: var(--ciano-escuro);
}

header h1{
    font-size: clamp(30px, calc(2vw + 2vh), 35px);
}

header div{
    display: flex;
    align-items: center;
    gap: 1vw;
}

[name="atualizar"]{
    width: clamp(150px, calc(7vw + 7vh), 250px);
}


@media(max-width: 800px){
    header{
        display: block;
        justify-content: left;
    ;
    }
    header button{
        margin: 5px;
    }
}

main hr{
    margin: clamp(15px, 2vh, 25px) 0;
    border: 2px solid var(--cinza);
}

/* estilizações tabela */

.form-pesquisa{
    margin: clamp(15px, 2vh, 25px) 0;
    background-color: var(--branco-primario);
    width: clamp(300px, calc(20vw + 20vh), 500px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.form-pesquisa input{
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 7px;
    width: 30vw;
}

.form-pesquisa button{
    margin-right: 7px;
    border: none;
    background-color: var(--branco-primario);
}

.form-pesquisa i{
    color: var(--marinho);
}

.form-pesquisa i:hover{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing:  0 9px;
    overflow-x: auto;
}

th{
    text-align: left;
    color: grey;
    font-weight: 500;
    font-size: clamp(12px, calc(0.6vw + 0.6vh), 18px);
    padding: 2vh 0;
    padding-left: clamp(25px, 1.7vw, 20px);
}

[class="fa-solid fa-angle-down"]:hover{
    cursor: pointer;
}

.id{
    width: clamp(40px, 3vw, 50px);
}

.acoes{
    width: clamp(80px, 10vw, 120px);
    text-align: left;
    padding: 0;
}

.acoes div{
    display: flex;
    gap: clamp(15px, 3vw, 60px);
}

.acoes button{
    border: none;
    background-color: transparent;
}

th div{
    display: flex;
    gap: calc(0.25vw + 0.25vh);
    align-items: center;
}
th form button{
    border: none;
    background-color: transparent
}

th form button i{
    color: grey;
    font-size: clamp(10px, 1vw, 20px);
}

th form button i:hover{
    color: rgba(128, 128, 128, 0.653);
    cursor: pointer;
}

[name="editar"] img{
    width: clamp(18px, 1.3vw, 22px);
    padding-left: clamp(20px, 1.4vw, 20px);
}

[name="apagar"] img{
    width: clamp(15px, 1.05vw, 18px);
    padding-right: clamp(25px, 1.7vw, 20px);
}

[name="apagar"] img:hover, [name="editar"] img:hover{
    cursor: pointer;
}

tbody tr{
    background-color: var(--branco-primario);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.101);
    border-radius: 7px;
    overflow-x: auto;
}

tbody tr td{
    padding: 3vh 0;
    padding-left: clamp(25px, 1.7vw, 20px);
    width: clamp(50px, calc(20vw + 20vh), 20vw);
    font-weight: 600;
    font-size: clamp(14px, calc(1vw + 01vh), 17px);
}

table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

/* PRINCIPAL ------------------------------------------------------------- */
.adicionar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    gap: 30px;
}
h1 {
    font-size: 24px;
}
.informacoes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 40px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.inputs input {
    width: 180px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: #F5F5F7;
}
.inputs input::placeholder{
    font-size: 12px;
    color: #B9B8BF;
}
.inputs label {
    margin-left: 10px;
    color: #524F61;
    font-weight: bold;
}

.descricao {
    background-color: #F5F5F7;
    border: none;
    border-radius: 10px;
}

.adicionar p {
    align-self: center;
    color: #B9B8BF;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ================= POPUP / MODAL ================= */

/* O conteúdo do modal */
.modal {
    background-color: white;
    border-radius: 30px;
    width: clamp(300px, 60vw, 700px);
    height: auto;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation: aparecer 0.3s ease-out;
}

/* botão de fechar (X) */
.modal .fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 22px;
    color: var(--marinho);
    cursor: pointer;
}

/* efeito de entrada suave */
@keyframes aparecer {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* PRINCIPAL ------------------------------------------------------------- */
.adicionar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    gap: 30px;
}
h1 {
    font-size: 24px;
}
.informacoes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 40px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.inputs input {
    width: 180px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: #F5F5F7;
}
.inputs input::placeholder{
    font-size: 12px;
    color: #B9B8BF;
}
.inputs label {
    margin-left: 10px;
    color: #524F61;
    font-weight: bold;
}

.descricao {
    background-color: #F5F5F7;
    border: none;
    border-radius: 10px;
}

.adicionar p {
    align-self: center;
    color: #B9B8BF;
}

.botaoPopUp {
    border: none;
    background-color: var(--verde-principal);
    box-shadow: 0px 0px 10px var(--verde-principal);
    color: var(--cor-texto);
    font-size: 12px;
    width: 180px;
    align-self: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
